.section-dashboard{
 position:relative;
 top:-110px;
 display: grid;
 max-width: var(--max-width);
 margin: 0 auto;
 padding: 0 50px;
}

.container-img{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 340px;
    margin-bottom: 10px;
}

.none{
    display: none;
}