.main {
  background:  url("/eyesfig.jpg")  center center/cover no-repeat;
  border-bottom: 1px solid #C7C7C7;
}

.gridMain{
  padding: 50px 20px;
  margin: 0 auto;
  max-width: 1536px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 70vh;/*597px*/
  gap: 20px;
}
.PaddinCards{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px 0;
  max-width: 1536px;
  margin: 0 auto;
}