.main {
  position: relative;
  overflow: hidden;
  background:  url("/eyes3.jpg")  center center/cover no-repeat;
  background: url("/eyes10.jpg")  center center/cover no-repeat;
  background-attachment: fixed;
}
.main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to bottom, transparent, #101010);
  opacity: 2; /* Ajusta el nivel de opacidad según desees */
  backdrop-filter:  brightness(50%);
}

/*.main::before{
  position: absolute;
  content: "";
  top: 0;
  width: 100%;
  height: 100%;
  filter:  brightness(50%);
  backdrop-filter: blur(10px);
  z-index: 1;
}*/

.gridMain{
  padding: 50px 20px;
  margin: 0 auto;
  max-width: 1536px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: calc(80vh - 77px);/*597px*/
  gap: 20px;
}

.PaddinCards{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px 0;
  padding: 50px 0px;
  /*max-width: 1536px;*/
  max-width: 1536px;
  margin: 0 auto;
}